.usersWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.usersInfo{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    background: #F5F7FB;
    border-radius: 10px;
}

.userAvatar{
    width: 150px;
    height: 150px;
}

.button{
    width: 100%;
    border-radius: 5px;
    border: none;
    background:  #9DDADB;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.selectedPage{
    font-weight: bold;
}

.pages{
    text-align: center;
    font-size: 26px;
    margin-bottom: 15px;
}

.spanPage{
    padding-right: 5px;
}

.wrapperPreloader{
    text-align: center;
}
.imgLoader{
    width: 60px;
    height: 60px;
}