.wrapper {
    display: flex;
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: #222222;
}

.navigation__content {
    min-width: 20%;
    display: flex;
}

.imgNavigation{
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 20px;

}
.navigation__list{
    padding-left: 2rem;
}

.active__link {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #222222;
}

a:active {
    color: #222222;
}

a:visited{
    color: #222222;
}

.navigation__link {
    font-size: 1.6rem;
}

.navigation__link + .navigation__link {
    margin-top: 1.5rem;
}

