.navigation__section {
    display: flex;
}

ul {
    padding-left: 1.5rem;
}

.navigation__content {
    min-width: 20%;
    background: #F0F8FF;
}

.active__link {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:active {
    color: black;
}

.navigation__link {
    font-size: 1.6rem;


}

.navigation__link + .navigation__link {
    margin-top: 1.5rem;
}
